body{
    background:#eee;
    margin:0px;
}
h1{
    background:#024bab;
    color:white;
    margin:0px;
    padding: 10px 20px;
}
div#container{
    background:#fff;
    margin:25px 100px;
    padding:25px;
}
div#form{
    background:#bbd6fa;
    border:#006dff 1px solid;
    padding: 10px;
    margin: 10px;
}
div#form p{
    margin:4px 10px;
}
div#form span.head{
    font-weight: bold;
}
div#form div#formhelp{
    display:none;
}
div#status{
    padding: 10px;
    margin: 10px;
}
footer{
    color:#aaa;
    text-align: center;
}